/AudioAnalysis.java
/BehaviorAnalysis.java
/BellRinging.java
/CloudVM.java
/DormitoryServer.java
/FeatureExtraction.java
/GestureAndFacialRecognition.java
/LicencePlatRecongnition.java
/LightWeightVM.java
/MainDptServer.java
/VisitorsHabitsAnalysis.java
/datacenter.java
/gateway.java
/ModelComponentInterface.java
/ComponentAudioAnalysis.java
/ComponentBehaviorAnalysis.java
/ComponentBellRinging.java
/ComponentFeatureExtraction.java
/ComponentGestureAndFacialRecognition.java
/ComponentLicencePlatRecongnition.java
/ComponentVisitorsHabitsAnalysis.java
/ComponentCloudVM.java
/ComponentDormitoryServer.java
/ComponentLicencePlatRecongnitionVM.java
/ComponentLightWeightVM.java
/ComponentMainDptServer.java
/Componentdatacenter.java
/Componentgateway.java
/chocoGeneratedProblem.java
